html, body {
  height: 100%;
  margin: 0; 
  padding: 0;
  border: 0;
}

h1 {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 24px;
  font-style: normal;
  line-height: 26.4px;
}

h2 {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 15.4px;
}
 
p {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: black;
  font-weight: bold;
}

a:active {
  color: black;
}

#container {
  position: relative;
  height: 100%;
  width: calc(100% - 10px);
  margin: 0;
  padding: 0;
}

#info {
  position: fixed;
  bottom: 0px;
  right: 0px;
  max-width: 300px;
  background-color: rgba(78, 59, 42, 0.25);
  padding: 0.5em;
  border-radius: 0.5em;
  border: 1px solid black;
  z-index: 1;
}

.result {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 0.5em;
  background-color: #ebc483;
}

#runnerDetails {
  display: none;
}
